.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.textHead {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.btn {
  padding: 0.25rem 0.5rem;
  border: 0.125rem;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
  text-align: center;
  justify-content: right;
  color: rgb(240,0,0);
  background-color: rgb(240,240,240);
}

.menuCardStyle {
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-style: solid;
  border-color: #282c34;
  border-width: 1px;
}

.cardDisplay{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clipCircle {
  clip-path: circle(70px at center);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  animation: frames .8s linear 0s infinite;
}

.pokeball:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 34px; 
  background-color: rgb(240,0,0);
  top: -4px
}

.pokeball:before {
  content: '';
  position: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
}

@keyframes frames {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}